body {
    --primary-color: #242424;
    --secondary-color: #BFBFBF;
    --dark-grey: #5C5C5C;
    --grey: #8F8F8F;
    --light-grey: #DEDEDE;
    --primary-font-color: #fcfcfc;
    --secondary-font-color: var(--primary-color);
    background-color: var(--primary-color);
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

@font-face {
    font-family: Ubuntu-Light;
    src: url("fonts/Ubuntu/Ubuntu-Light.ttf")
}

@font-face {
    font-family: Ubuntu-LightItalic;
    src: url("fonts/Ubuntu/Ubuntu-LightItalic.ttf")
}

@font-face {
    font-family: Ubuntu;
    src: url("fonts/Ubuntu/Ubuntu-Regular.ttf");
}

@font-face {
    font-family: Gudea;
    src: url("fonts/Gudea/Gudea-Regular.ttf");
}

@font-face {
    font-family: Alef;
    src: url("fonts/Alef/Alef-Regular.ttf");
}

h1 {
    color: var(--primary-font-color);
    font-family: Ubuntu-Light;
    font-size: 2.5rem;
    font-weight: normal;
}

h2 {
    font-family: Alef;
    font-weight: normal;
    color: var(--primary-font-color);
    text-align: center;
    padding: 4rem 0 2rem 0; /*Use padding so as not to mess up the 100% height of parent*/
    margin: 0;
    font-size: 2rem;
}

h3 {
    font-family: Gudea;
    color: var(--primary-font-color);
    text-align: center;
    font-size: 1.5rem;
    margin: 0.5rem 0;
}

p {
    font-family: Ubuntu;
    color: var(--primary-font-color);
    font-size: 1.5rem;
}

p.medium {
    font-size: 2.5rem;
    margin: 0;
}

p.big {
    font-size: 3.5rem;
}

p.miniquote {
    font-family: Ubuntu-LightItalic;
    font-size: 1rem;
    text-align: center;
    margin: 1rem 0 2rem 0;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 2rem;
    align-items: center;
}

.header .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 2rem;
}

.header-btn {
    font-size: 2rem
}

.box-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    height: 100%;
}

.box-container .box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: auto;
    margin-bottom: auto;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    right: 2rem;
}

.mid-line {
    display: block;
    margin: 0 auto 0 auto;
    height: 1px;
    width: 5rem;
    background-color: var(--primary-font-color);
}

.exp-container {
    height: 100%;
}

.exp-table {
    display: grid;
    grid-gap: 1rem;
    margin: 0 auto;
    max-width: 80rem;
    padding: 0 1rem;
}

@media (min-width: 700px) {
    .exp-table {
        grid-template-columns: 1fr 1fr;
    }
}

.boxed-contents {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    padding: 0em 1rem;
    overflow: hidden;
    border-radius: 0.5rem;
    border: var(--secondary-color) solid 0.1rem;
}

.img-container {
    display: flex;
    flex-direction: column;
    margin: 1rem 1rem;
    align-items: center;
    justify-content: flex-end;
}

.img-container .logo-white {
    background-color: var(--light-grey);
    border-color: var(--light-grey);
    border-style: solid;
    border-top: 0;
    border-bottom: 0;
    border-radius: 1rem;
}

.img-container p.img-caption {
    margin: 0.5rem 0 0 0;
    font-size: 1.5rem;
}

.languages-container {
    max-width: 80rem;
    margin: 2rem auto;
}

.button {
    display: inline-block;
    background-color: transparent;
    color: var(--primary-font-color);
    font-family: Ubuntu-Light;
    border: none;
    text-decoration: none;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.button:hover {
    opacity: 0.70;
}

.button:focus {
    outline: none;
    box-shadow: none;
}

.button:active {
    transform: scale(0.95);
}

.left-space {
    margin-left: 2rem;
}