body {
    --primary-color: #242424;
    --secondary-color: #BFBFBF;
    --dark-grey: #5C5C5C;
    --grey: #8F8F8F;
    --light-grey: #DEDEDE;
    --primary-font-color: #fcfcfc;
    --secondary-font-color: var(--primary-color);
    background-color: var(--primary-color);
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: Ubuntu-Light;
    src: url("fonts/Ubuntu/Ubuntu-Light.ttf")
}

@font-face {
    font-family: Ubuntu-LightItalic;
    src: url("fonts/Ubuntu/Ubuntu-LightItalic.ttf")
}

@font-face {
    font-family: Ubuntu;
    src: url("fonts/Ubuntu/Ubuntu-Regular.ttf");
}

@font-face {
    font-family: Gudea;
    src: url("fonts/Gudea/Gudea-Regular.ttf");
}

@font-face {
    font-family: Alef;
    src: url("fonts/Alef/Alef-Regular.ttf");
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 15%;
}

h1 {
    color: var(--primary-font-color);
    font-family: Ubuntu-Light;
    font-size: 2em;
    margin-left: 1em;
}

h2 {
    font-family: Alef;
    color: var(--primary-font-color);
    text-align: center;
    margin: 0em 0em;
    font-size: 18pt;
}

h3 {
    font-family: Gudea;
    color: var(--primary-font-color);
    text-align: center;
}

.header .buttons {
    display: flex;
    margin-right: 2em;
    justify-content: center;
}

.box-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    height: 85%;
}

.box-container .box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10%;
}

.shape-holder {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    position: absolute;
    bottom: 2em;
    left: 2em;
    right: 2em;
}

p.hi {
    font-size: 26pt;
    margin: 0;
}

p.name {
    font-size: 34pt;
}

p.description {
    font-size: 20pt;
}

p {
    font-family: Ubuntu;
    color: var(--primary-font-color);
    font-size: 16pt;
}

.mid-line {
    display: block;
    margin: 0em auto 3em auto;
    height: 1px;
    width: 50px;
    background-color: var(--primary-font-color);
}

.exp-table {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 1em;
}

.exp-table .row {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.exp-table .row .item .contents {
    background-color: var(--secondary-color);
    padding: 0em 1em;
    overflow: hidden;
    border-radius: 5px;
}

.button {
    margin-left: 1em;
    display: inline-block;
    background-color: transparent;
    color: var(--primary-font-color);
    font-family: Ubuntu-Light;
    font-size: 1.5em;
    border: none;
    text-decoration: none;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button:hover, button:focus {
    opacity: 0.70;
}

button:focus {
    outline: none;
}

button:active {
    transform: scale(0.95);
}