:root {
    --background-color: #242424;
    --background-color-translucent: rgba(36, 36, 36, 0.4);
    --border-color: #bfbfbf;
    --primary-font-color: #fcfcfc;
    --mesh-color: #5d5d5d;
    --mesh-highlight-color: #fff;
}

body {
    background-color: var(--background-color);
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow-x: visible;
}

@font-face {
    font-family: Ubuntu-Light;
    src: url('fonts/Ubuntu/Ubuntu-Light.ttf');
}

@font-face {
    font-family: Ubuntu-LightItalic;
    src: url('fonts/Ubuntu/Ubuntu-LightItalic.ttf');
}

@font-face {
    font-family: Ubuntu;
    src: url('fonts/Ubuntu/Ubuntu-Regular.ttf');
}

@font-face {
    font-family: Gudea;
    src: url('fonts/Gudea/Gudea-Regular.ttf');
}

@font-face {
    font-family: Alef;
    src: url('fonts/Alef/Alef-Regular.ttf');
}

.first-screen {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.second-screen {
    align-items: center;
}

.canvas {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
}

h1 {
    color: var(--primary-font-color);
    font-family: Ubuntu-Light;
    font-size: 2rem;
    font-weight: normal;
    word-break: break-word;
}

h2 {
    font-family: Alef;
    font-weight: normal;
    color: var(--primary-font-color);
    text-align: center;
    padding: 4rem 0 2rem 0; /*Use padding so as not to mess up the 100% height of parent*/
    margin: 0;
    font-size: 2rem;
    word-break: break-word;
}

h3 {
    font-family: Gudea;
    color: var(--primary-font-color);
    text-align: center;
    font-size: 1.5rem;
    word-break: break-word;
}

p {
    font-family: Ubuntu;
    color: var(--primary-font-color);
    font-size: 1.5rem;
    word-break: break-word;
}

p.medium {
    font-size: 2.5rem;
    margin: 0;
    word-break: break-word;
}

p.big {
    font-size: 3rem;
    word-break: normal;
}

p.email {
    font-size: 3rem;
}

p.miniquote {
    font-family: Ubuntu-LightItalic;
    font-size: 1rem;
    text-align: center;
    margin: 1rem 0 2rem 0;
    word-break: break-word;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.email-link {
    -webkit-text-decoration-color: var(--primary-font-color);
    text-decoration-color: var(--primary-font-color);
}

.header {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 2rem;
    overflow-x: visible;
}

.header .title {
    margin-right: 1rem;
}

.header .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-right: 2rem;
}

.header .icon-btn {
    font-size: 2rem;
}

.header .text-btn {
    font-size: 2rem;
}

.center-text-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.center-text-container .center-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--background-color-translucent);
    box-shadow: 0rem 0rem 1rem 1rem var(--background-color-translucent);
    padding: 1rem 2rem;
    border-radius: 1rem;
    margin: 0rem 3rem;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    right: 2rem;
}

.footer .footer-corner {
    width: 50px;
    height: 50px;
}

.footer .footer-button {
    width: 50px;
    height: 25px;
}

.mid-line {
    display: block;
    margin: 0 auto 0 auto;
    height: 1px;
    width: 5rem;
    background-color: var(--primary-font-color);
}

.exp-table {
    display: grid;
    grid-gap: 1rem;
    max-width: 79.1rem;
    padding: 0 1rem;
}

.exp-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    padding: 0em 1rem;
    overflow: hidden;
    border-radius: 0.5rem;
    border: var(--border-color) solid 0.1rem;
}

.img-container {
    display: flex;
    flex-direction: column;
    margin: 1rem 1rem;
    align-items: center;
    justify-content: flex-end;
}

.img-container .logo {
    width: 100px;
    height: 100px;
}

.img-container img:hover {
    transform: scale(1.1);
    opacity: 0.7;
}

.img-container img:active {
    transform: scale(0.95);
}

.img-container .small-logo {
    width: 100px;
    height: 75px;
}

.img-container p.img-caption {
    margin: 0.5rem 0 0 0;
    font-size: 1.5rem;
    word-break: break-word;
}

.tool-img-container {
    margin: 1rem 2rem;
}

.language-img-container {
    margin: 1rem 2.5rem;
}

.languages-container {
    display: flex;
    flex-direction: column;
    max-width: 79.1rem;
    padding: 0 1rem 1rem 1rem;
}

.button {
    display: inline-block;
    background-color: transparent;
    color: var(--primary-font-color);
    font-family: Ubuntu-Light;
    border: none;
    text-decoration: none;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    word-break: break-word;
}

.button:hover {
    opacity: 0.7;
}

.button:focus {
    outline: none;
    box-shadow: none;
}

.button:active {
    transform: scale(0.95);
}

.left-space {
    margin-left: 2rem;
}

.opacity-transition.no-js {
    opacity: 1;
}

.opacity-transition {
    opacity: 0;
}

.opacity-transition.active {
    opacity: 1;
    transition: opacity 0.5s ease-in;
}

@media (min-width: 700px) {
    .exp-table {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 470px) {
    h1 {
        font-size: 1.5rem;
    }
    .header {
        padding-left: 1.5rem;
    }
    .header .buttons {
        padding-right: 1.5rem;
    }
    .header .text-btn {
        font-size: 1.5rem;
    }
    .header .icon-btn {
        font-size: 1.5rem;
    }
    .left-space {
        margin-left: 1.5rem;
    }
    p.big {
        font-size: 3rem;
    }
    p.email {
        font-size: 2rem;
    }
    .footer .footer-corner {
        width: 37.5px;
        height: 37.5px;
    }
    .footer .footer-button {
        width: 37.5px;
        height: 18.75px;
    }
    .img-container {
        margin: 0.75rem 0.75rem;
    }
    .img-container .logo {
        width: 75px;
        height: 75px;
    }
    .img-container p.img-caption {
        font-size: 1rem;
    }
    .footer {
        bottom: 1.5rem;
        left: 1.5rem;
        right: 1.5rem;
    }
}

@media screen and (max-width: 360px) {
    h1 {
        font-size: 1rem;
    }
    .header {
        padding-left: 1rem;
    }
    .header .buttons {
        padding-right: 1rem;
    }
    .header .text-btn {
        font-size: 1rem;
    }
    .header .icon-btn {
        font-size: 1rem;
    }
    .left-space {
        margin-left: 1rem;
    }
    p {
        font-size: 1rem;
    }
    p.medium {
        font-size: 2rem;
    }
    p.big {
        font-size: 2.5rem;
    }
    p.email {
        font-size: 1rem;
    }
    .footer .footer-corner {
        width: 25px;
        height: 25px;
    }
    .footer .footer-button {
        width: 25px;
        height: 12.5px;
    }
    .img-container {
        margin: 0.5rem 0.5rem;
    }
    .img-container .logo {
        width: 50px;
        height: 50px;
    }
    .footer {
        bottom: 1rem;
        left: 1rem;
        right: 1rem;
    }
    .center-text-container .center-text {
        padding: 0;
    }
}
